.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  color: #000;
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  z-index: 1;
  -webkit-transition: opacity .3s linear;
  -o-transition: opacity .3s linear;
  transition: opacity .3s linear;
}

.feynman__link:hover {
  opacity: .6;
}
